body {
    background-color: black;
    background-image: url("") ;

    
    

h1 {
    color: blue;
        
}


h2 {
    color: red
}


p{
    font-family: Arial, sans-serif;
    color: white;
}}